<div class="likely-wrapper">
  <div class="likely likely-small">
    <div class="twitter" data-via="m4rr">Твитнуть</div>
    <div class="facebook">Поделиться</div>
    <div class="vkontakte">Поделиться</div>
    <div class="odnoklassniki">Класснуть</div>
    <!-- <div class="gplus">Плюсануть</div> -->
    <!-- <div class="pinterest" data-media="<%= asset_path 'mauth@2x.png' %>">Запинить</div> -->
  </div>
</div>
