<div id="content" class="privacy-policy">
  <div class="wrapper">

    <%= link_to '/mauth' do %>
      <%= image_tag 'mauth@2x.png', size: '60', class: 'h1img', alt: 'Москва. Метро. Авторизация Wi-Fi' %>
    <% end %>

    <h1>Политика конфиденциальности</h1>

    <p>Приложение «mauth» разработано и поддерживается Маратом Сайтаковым.</p>
    <p>Приложение и Марат не собирают и не хранят действия пользователей, а также личные данные пользователей.</p>
    <p>Если Марат изменит настоящую политику конфиденциальности, он уведомит вас об этом, опубликовав новую версию документа по этой ссылке.</p>

    <hr />

    <h1>Privacy Policy</h1>

    <p>Mauth app is developed and supported by Marat Saytakov.</p>
    <p>Application or Marat doesn't collect or store private data or user actions.</p>
    <p>If Marat will change this Privacy Policy, he will notify you about it by publishing new version of document at this link.</p>

  </div>
</div>
