
<div class="container">
  <div class="main">
    <h1>Stars</h1>
    <h2>The thing missed<br />on the ᴡᴀᴛᴄʜ.</h2>
    <h3>Rate ★ current playing ▶&#xfe0e; song<br />right on  Watch and iPhone.</h3>

    <p>Watch <a href="https://vimeo.com/182466289">▶&#xfe0e; App Preview</a> on Vimeo.</p>

    <p>
      <a href="https://itunes.apple.com/app/rating-stars-5-out-of-5/id1135086336?ls=1&mt=8"><%= image_tag('Download_on_the_App_Store@2x.png', class: 'appstore') %></a>
      <br />
      <a href="mailto:remarr+stars@gmail.com">Drop me a line</a> or tweet <a href="https://twitter.com/m4rr">@m4rr</a>.
    </p>

    <div class="iPhone">
    </div>
  </div>

  <div class="slideshow">
    <div class="images"></div>
  </div>
</div>
