<div class="container">
  <nav class="fade-in one">
    <h1 class="26yo">Marat Saytakov</h1>

    <h2>iOS Developer && Traveler</h2>

    <ul class="menu">
      <li>
        <a href="https://blog.m4rr.ru/" class="nbsp"><b>Blog</b> in Russian</a>
      </li>
      <li>
        <a href="https://medium.com/@m4rr" class="nbsp"><b>Medium</b> in English</a>
      </li>
      <li>
        <a href="/marat-saytakov-cv.pdf" class="nbsp"><b>Résumé / CV</b></a>
      </li>
    </ul>

    <div class="links">
      <a href="https://github.com/m4rr"><i class="icon-github"></i></a><a href="https://stackoverflow.com/users/1204935/marat-saytakov"><i class="icon-stackoverflow"></i></a><a href="https://twitter.com/m4rr"><i class="icon-twitter"></i></a><a href="https://t.me/CitoyenMarat"><i class="icon-paper-plane"></i></a><a href="https://instagram.com/m4rr"><i class="icon-instagram"></i></a><a class="disabled" title="No Facebook"><i class="icon-facebook-squared"></i></a><a class="disabled" title="No VK"><i class="icon-vkontakte"></i></a><a class="disabled" title="No LinkedIn"><i class="icon-linkedin"></i></a>
    </div>

    <!-- <h3>★ Wantr</h3> -->
    <!-- <p class="to-center"><a href="http://wantr.ru/m4rr">Wish List</a></p> -->

    <space></space>

    <p><strong>Visited</strong> <%= raw @countries_count %> countries and <%= raw @cities_count %> cities.</p>

    <space></space>

    <ul>
      <strong>Projects</strong>
      <li><a href="https://telegram.me/m4rrch">Useful Links on Programming</a> <i class="icon-paper-plane"></i> channel</li>
      <li><a href="http://moscoding.ru/swift/">iOS Development 101 on Swift <!--span class="now">now</span--></a><br />Moscow Coding School</li>
    </ul>

    <space></space>

    <ul>
      <strong>Talks</strong>
      <li><a href="https://www.codementor.io/m4rr">28 expert sessions</a>, Codementor</li>
      <li><a href="https://blog.m4rr.ru/all/size-classes-addition/">Size Classes on iOS</a>, CocoaHeads Moscow</li>
      <li><a href="https://habrahabr.ru/company/mailru/blog/244673/">Custom Keyboards</a>, · · ·</li>
    </ul>

    <space></space>

    <p class="app">
      <strong><a href="https://itunes.apple.com/app/numpad/id1429855047?ls=1&mt=12">Numpad <span class="now">for Mac</span></a></strong><br />
      Dialer for FaceTime.<br />
      <a class="call-to-action" href="https://itunes.apple.com/app/numpad/id1429855047?ls=1&mt=12">Mac App Store</a>
      <%# <span class="splitter"></span> %>
      <%# <a href="https://chars.cc/">chars.cc</a> %>
    </p>

    <p class="app">
      <strong><a href="https://itunes.apple.com/app/chars/id918947313?mt=8">Chars 2 <span class="now">New</span></a></strong><br />
      Beautiful and native way to type every&#173;thing with Unicode characters on iOS.<br />
      <a class="call-to-action" href="https://itunes.apple.com/app/chars/id918947313?mt=8">App Store</a>
      <span class="splitter"></span>
      <a href="https://chars.cc/">chars.cc</a>
    </p>

    <p class="app">
      <strong><a href="/stars">Stars</a></strong>&nbsp;&nbsp;<span class="stars">★★★★★</span>
      <br />
      The app missed on the ᴡᴀᴛᴄʜ.<br />
      Rate current playing song right on the watch.<br />
      <a class="call-to-action" href="https://itunes.apple.com/app/rating-stars-5-out-of-5/id1135086336?ls=1&mt=8">App Store</a>
      <span class="splitter"></span>
      <a href="https://www.producthunt.com/tech/rating-stars">Product Hunt</a>
      <span class="splitter"></span>
      <a href="/stars">Promo</a>
    </p>

    <p class="app">
      <strong><a href="https://itunes.apple.com/ru/app/moscow-metro-wi-fi-authorization/id1041801794?l=ru&mt=8">Moscow Metro Wi-Fi Auth</a></strong>&nbsp;&nbsp;<span class="stars">★★★★★</span><br />
      Helps avoid ads in MosMetro_Free, for free.<br />
      <a class="call-to-action" href="https://itunes.apple.com/ru/app/moscow-metro-wi-fi-authorization/id1041801794?l=ru&mt=8">App Store</a>
      <span class="splitter"></span>
      <a href="/mauth">Promo</a>
      <span class="splitter"></span>
      <a href="https://github.com/m4rr/mauth">GitHub</a>
      <span class="splitter"></span>
      <a href="https://blog.m4rr.ru/all/moscow-metro-wi-fi-authorization/">More</a>
    </p>

    <p class="app">
      <strong><a href="https://itunes.apple.com/us/app/easy-percent-much-easier-calc/id740111096?mt=8">Easy Percent</a></strong>&nbsp;&nbsp;<span class="stars">★★★★★</span><br />
      Blazing fast, super easy, and pretty cool percentages calculator. 640 KB app size and 250 µs starting time.<br />
      <a class="call-to-action" href="https://itunes.apple.com/us/app/easy-percent-much-easier-calc/id740111096?mt=8">App Store</a>
    </p>

    <space></space>

    <p class="app">
      <a href="https://telegram.me/addstickers/DUMP2016"><%= image_tag 'huyak-production@2x.png', size: '60', align: 'right', alt: 'Стикеры для телеграма: хуяк-хуяк и в продакшен / Slap shit together and deploy', title: 'Хуяк-хуяк и в продакшен / Slap shit together and deploy' %></a>
      <strong><a href="https://telegram.me/addstickers/DUMP2016">Geek Sticker Set</a></strong><br />
      Well-illustrated techie memes
      (huyak stickers).
      <span class="nbsp">9.5k+ happy users.</span><br />
      <a class="call-to-action" href="https://telegram.me/addstickers/DUMP2016">Telegram</a>
      <span class="splitter"></span>
      <a class="call-to-action" href="https://itunes.apple.com/app/dump-stickers/id1141655638?ls=1&mt=8">iMessage</a>
      <span class="splitter"></span>
      <a href="https://github.com/m4rr/HuyakStickers">GitHub</a>
      <span class="splitter"></span>
      <a href="https://blog.m4rr.ru/all/huyak-stickers/">More</a>
    </p>
    <p class="app">
      <strong><a href="https://telegram.me/USDRUB_bot">EUR-USD-RUB Bot</a></strong>&nbsp; <span class="nbsp">for <i class="icon-paper-plane"></i> Telegram</span><br />
      Pretty straightforward currency converter bot. Useful helper on a Philosophers' ships chats.<br />
      <a class="call-to-action" href="https://telegram.me/USDRUB_bot">Send Message</a>
      <span class="splitter"></span>
      <a href="https://github.com/m4rr/money_bot">GitHub</a>
    </p>
  </nav>
  <div id="map" class="map fade-in two"></div>
</div>

<script type="text/javascript">
  function isMobile() {
    var 
      element = document.querySelector('#map'),
      style = window.getComputedStyle(element),
      display = style.getPropertyValue('display');
  
    return display === 'none';
  }

  function initialize() {
    if (isMobile()) { 
      return;
    }

    buildMap(<%= raw @map_json %>);
  }

  function loadScript() {
    if (isMobile()) { 
      return;
    }

    // Preventing the Google Maps libary from downloading an extra font
    var head = $('head')[0];
    var insertBefore = head.insertBefore;
    head.insertBefore = function (newElement, referenceElement) {
      // intercept font download
      if (newElement.href && newElement.href.indexOf('https://fonts.googleapis.com/css?family=Roboto') === 0) { return; }
      // intercept style elements for IEs
      if (newElement.tagName.toLowerCase() === 'style' && newElement.styleSheet && newElement.styleSheet.cssText && newElement.styleSheet.cssText.replace('\r\n', '').indexOf('.gm-style') === 0) { return; }
      // intercept style elements for other browsers
      if (newElement.tagName.toLowerCase() === 'style' && newElement.innerHTML && newElement.innerHTML.replace('\r\n', '').indexOf('.gm-style') === 0) { return; }

      insertBefore.call(head, newElement, referenceElement);
    };
  }

  window.onload = loadScript;
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5qV9cIINOAjZ0O8TwiWS_8KzTyC0ZKbU&v=3.exp&sensor=false&region=ru&callback=initialize" type="text/javascript"></script>
