<!doctype html>
<html lang="en">
<head>
  <%
    meta title: "Rating Stars: 5 out of 5",
         description: "The thing missed on Apple Watch. Rate music right on the Apple Watch or iPhone."

    og title: "Rating Stars: 5 out of 5",
       description: "The thing missed on Apple Watch. Rate music right on the Apple Watch or iPhone.",
       image: "https://m4rr.ru/images/stars-og.jpg",
       type: "website",
       url: 'https://m4rr.ru/stars'

    twitter card: "summary",
            :'text:title' => "Rating Stars: 5 out of 5",
            :'text:description' => "The thing missed on Apple Watch. Rate music right on the Apple Watch or iPhone."
  %>

  <%= metamagic %>

  <meta charset="utf-8">

  <%= stylesheet_link_tag :stars, media: 'all' %>
  <%= javascript_include_tag :stars %>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try { var pageTracker = _gat._getTracker("UA-1693337-1"); pageTracker._trackPageview(); }
    catch(err) {}
  </script>
</head>
<body>

  <%= yield %>

</body>
</html>
